name: publish hibit-id-sdk packages to gitlab
on:
  release:
    types: [ published ]
  push:
    branches:
      - main
      - release
jobs:
  Build-and-Publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - run: |
          npm config set ${REGISTRY}:_authToken ${{ secrets.GITLAB_PACKAGE_TOKEN }}
          npm config set @delandlabs:registry https:${REGISTRY}
        env:
          REGISTRY: //gitlab.com/api/v4/projects/37663507/packages/npm/
      - run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ] || [ "${{ github.ref }}" = "refs/heads/release" ]; then
            Version=1.1.0-alpha.$(date +"%Y%m%d%H%M%S")
          else
            Version=$(git describe --tags --abbrev=0)
          fi
          echo Version: $Version
          export VITE_RELEASE_VERSION=$Version

          yarn install --frozen-lockfile

          # Replace * with actual version in package.json
          node scripts/replaceVersions.js $Version
          
          yarn build:all

          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/crypto-lib
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-base
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-dfinity
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-ethereum
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-kaspa
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-ton
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/coin-tron
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version} packages/sdk